/* Goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Quicksand:wght@400;500;600&display=swap');

/* Reset browser default styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing property to include border and padding in the total height and width of an elements */
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;

    /* 
    Sticky footer - keeps footer at the bottom of the page, if there is not enough of the main content to push it down.
    Example used from "Love running" walkthrough lesson. 
    */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: yellow
}

/* Header */
header h1 {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 400;
}

header a {
    text-decoration: none;
}

/* Main content */
main {
    background-color: green;
    /* 
    Sticky footer - push footer down by utilising unused space in main section.
    Example used from "Love running" walkthrough lesson.  
    */
    flex: 1 0 auto; 
}

footer {
    background-color: red;
}