/* Goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,400;1,500;1,700&family=Quicksand:wght@400;500;600&display=swap');

/* Reset browser default styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing property to include border and padding in the total height and width of an elements */
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #41433e;

    /* 
    Sticky footer - keeps footer at the bottom of the page, if there is not enough of the main content to push it down.
    Example used from "Love running" walkthrough lesson. 
    */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #f5eae3;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#logo h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400; 
    color: #931507;
}

header a {
    text-decoration: none;
    color: #41433e;
}

/* Navigation menu */
nav {
    position: absolute;
    background-color: #f5eae3;
    display: none;
    top: 100%;
    right: 0;
}

#nav-list {
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

#nav-list li {
    letter-spacing: 0.2rem;
    font-weight: 600;
    padding: 5px 20px;
}

#hamburger-menu {
    display: none;
}

.hamburger-label {
    align-self: center;
    font-size: 140%;
}

.active {
    color: #931507;
}

/* Hamburger menu toggle */
#hamburger-menu:checked~nav {
    display: block;
}

/* Main content */
main {
    margin-top: 59px;
    background-color: #f5eae3;
    /* 
    Sticky footer - push footer down by utilising unused space in main section.
    Example used from "Love running" walkthrough lesson.  
    */
    flex: 1 0 auto; 
}

/* Hero Image */
.hero-image {
    display: flex;
    height: 30vh;
    background: black url("../images/bowls-pink-background.webp") no-repeat center center/150%;
    justify-content: end;
    align-items: center;
}

/* Call to action */
.call-to-action {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.3em;
    border-radius: 8px;
    margin-right: 3%;
}

.call-to-action h2 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0.3em;
    line-height: 1.5em;
    background: #f5eae3;
    border-radius: 8px;
    padding: 0.3em;
    box-shadow: 0px 0px 15px rgba(65, 67, 62, 0.34);
}

.call-to-action a {
    margin-left: 30%;
}

.call-to-action span {
    color: #931507;
}

/* Footer */
footer {
    display: block;
    background-color: #f5eae3;
}

.social-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 160%;
}

.social-links a {
    text-decoration: none;
    color: inherit;
}

.social-links li {
    padding: 5px 20px;
}

.copyright p {
    text-align: center;
    margin-bottom: 5px;
}

.copyright span {
    color: #931507;
    font-family: 'Cormorant Garamond', serif;
    font-size: 130%;
}

.copyright a {
    color: #41433e;
}

/* Styles shared across all pages */

/* Mouse hover effect */
.mouse-hover-effect a {
    transition: color 0.6s ease-out;
}

.mouse-hover-effect a:hover {
    color: #931507;
    text-shadow: 1px 2px 2px rgba(65, 67, 62, 0.34);
}

/* Button */
.red-button {
    width: 90px;
    font-size: 16px;
    background-color: #931507;
    border-radius: 8px;
    border: #931507 solid 3px;
    height: 40px;
    color: #f5eae3;
    font-weight: 600;
    transition: color 0.6s ease-out;
}

.red-button:hover {
    color: #931507;
    background-color: #f5eae3;
    box-shadow: 1px 2px 2px rgba(65, 67, 62, 0.34);
}

/* Media queries */

/* Tablets and larger (768px and larger) */
@media screen and (min-width: 768px){

    /* Navigation menu */
    nav {
        position: relative;
        display: flex;
    } 

    .hamburger-label {
        display: none;
    }

    #nav-list {
        display: flex;
    }

    #nav-list li {
        padding: 0 0 0 20px;
        align-self: center;
    }

    /* Footer */
    footer {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 20px 10px 10px 20px;
    }
    .social-links {
        order: 1;
    }
}